html{
	height:100%;
	box-sizing: border-box;
}

body{
	background-color: gray;
    position:relative;
    margin:0;
	min-height:100%;
	padding-bottom: 6.74em;
	padding-left: 10%;
	padding-right: 10%;
	box-sizing: inherit;
	font-size:2vmin;
}

header{
	text-align: center;
	display:block;
	padding: 2%;
}

div.nav-container{
	text-align: center;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: inline-block;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.gallery-container{
	padding: 5%;
	display:flex;
	justify-content: center;
}

.contact-container{
	margin:auto;
	width:50%;
	padding: 5%;
}

.center-container{
	margin:5%;
}

#about-img {
	width: 25%;
	height: auto;
	position: relative;
    left: 5%;
    padding-top:1.5%;
}

#abouttext{
	float:right;
	width:50%;
	text-align: justify;
	position:relative;
	right:15%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

footer{	
  position:absolute;
  text-align: center;
  padding:2%;
  bottom:0; 
  right:0;
  left:0;
}

#link-behance{
	color: black;
}